# Виртуальное окружение
.venv/
venv/
env/
*.pyc
__pycache__/

# База данных (если не в репозитории)
db.sqlite3

# Переменные окружения
.env

# Статические файлы сборки
staticfiles/

# Медиа (если не нужны в репозитории)
media/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Заметки
заметки.txt
Текстовый документ.txt