Django==5.1.7
django-allauth[socialaccount]==65.15.0
requests==2.32.3
PyJWT==2.10.1
cryptography==44.0.1
Pillow==11.1.0
markdown==3.10.2
reportlab==4.3.1
gunicorn==23.0.0
whitenoise==6.9.0
python-dotenv==1.2.2
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.1
PyMySQL==1.1.1
